<div class="main-content">
    <div class="section-content section-content-p30">
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let tempProduct of products" class="col-md-3">
                <div class="product-box">
                    <img src="{{tempProduct.imageUrl}}" />
                    <h1>{{tempProduct.name}}</h1>
                    <div class="price">{{tempProduct.unitPrice | currency:'EUR'}}</div>
                    <a href="#" class="primary-btn ">Add to cart</a>
                </div>
            </div>
        </div>
    </div>

    </div>

</div>

<!-- <table class="table">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Units in stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tempProduct of products">
            <td class="align-middle">
                <img src="{{tempProduct.imageUrl}}" height="50"/>
            </td>
            <td class="align-middle">{{tempProduct.name}}</td>
            <td class="align-middle">{{tempProduct.unitPrice | currency: 'EUR'}}</td>
            <td class="align-middle">{{tempProduct.unitsInStock}}</td>

        </tr>

    </tbody>
</table> -->

<!-- <p *ngFor="let tempProduct of products">
    {{tempProduct.name}}: {{tempProduct.unitPrice | currency: 'EUR'}}
</p> -->
